extends layout

block content
  include mainnavbar
  include modals/about
  include modals/alert
  .container-fluid.main-container-fluid
    .row-fluid.main-row-fluid
      .col-xs-12.col-md-6.col-md-offset-3
        br
        if flash && (flash.info || flash.success || flash.error)
          script $(document).ready(function(){$('#alert-modal').modal('show');});
        form#frmdetails(method='POST')
          legend Device
          .form-group
            input(type='hidden', name='action')
            input(type='hidden', name='device_id')
            label(for='identifier') Identifier
            input.form-control(type='text', name='identifier', readonly='true')
            label(for='alias') Alias
            input.form-control(type='text', name='alias', placeholder='Enter alias')
          .form-group
            checkbox(for='fixedloc')
              input(type='checkbox', id='fixedloc')
              span(style='padding-left:1em') Use a fixed location<br>
            label(for='lon') Longitude
            input.form-control(type='text', name='fixed_loc_lon', placeholder='Enter longitude')
            label(for='lat') Latitude
            input.form-control(type='text', name='fixed_loc_lat', placeholder='Enter latitude')
          .btn-toolbar
            if user.role === 'admin' || user.role === 'manager'
              button#btnSave.btn.btn-primary(type='button') Save
            button#btnCancel.btn.btn-default(type='button') Cancel
            br
            br
            br
            legend Select a device
            .input-group
              .input-group-btn
                button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Shared With&nbsp;
                  span.caret
                ul.dropdown-menu
                  li
                    a#btnAddUser Add User
                  li
                    a#btnRemoveUser Remove User
              input.form-control(type='text', name='shareduser', placeholder='Enter username')
              input(type='hidden', name='checkedIds')
            #toolbar
              button#btnRemoveDevices.btn.btn-danger Delete
            table#table-userdevices(
              data-toggle='table-userdevices',
              data-toolbar='#toolbar',
              data-search='false',
              data-show-refresh='false',
              data-show-toggle='true',
              data-show-columns='false',
              data-show-export='true',
              data-detail-view='false',
              data-minimum-count-columns='2',
              data-show-pagination-switch='true',
              data-pagination='true',
              data-id-field='identifier',
              data-unique-id='identifier',
              data-page-list='[10, 25, 50, 100, ALL]',
              data-show-footer='false')
                thead
                  tr
                    th(data-field='state', data-checkbox='true') state
                    th(data-field='identifier', data-sortable='true') Identifier
                    th(data-field='alias', data-sortable='true') Alias
                    th(data-field='shared', data-sortable='true') Shared With
          script userdevices=!{JSON.stringify({userdevices})};
          script
            include main/changedevices.js
