extends layout

block content
  include mainnavbar
  include modals/about
  include modals/alert
  include modals/confuserdel
  .container-fluid.main-container-fluid
    .row-fluid.main-row-fluid
      .col-xs-12.col-md-6.col-md-offset-3
        br
        if flash && (flash.info || flash.success || flash.error)
          script $(document).ready(function(){$('#alert-modal').modal('show');});
        form#frmdetails(method='POST')
          legend Account
          .form-group
            input(type='hidden', name='action')
            input(type='hidden', name='user_id', value=user.user_id)
            label(for='username') Username
            if user.role === 'admin'
              input.form-control(type='text', name='username', placeholder='Enter username', value=user.username)
            else
              input.form-control(type='text', name='username', value=user.username, readonly='true')
          if user.role === 'admin'
            .form-group
              label(for='password') Password
              input.form-control(type='password', name='password')
          .form-group
            label(for='fullname') Full name
            if user.role === 'admin' || user.role === 'manager'
              input.form-control(type='text', name='fullname', placeholder='Enter full name', value=user.fullname)
            else
              input.form-control(type='text', name='fullname', value=user.fullname, readonly='true')
          .form-group
            label(for='email') E-mail
            if user.role === 'admin' || user.role === 'manager'
              input.form-control(type='text', name='email', placeholder='Enter e-mail', value=user.email)
            else
              input.form-control(type='text', name='email', value=user.email, readonly='true')
          .form-group
            label(for='api_key') API key
            if user.role === 'admin'
              input.form-control(type='text', name='api_key', placeholder='Enter API key or leave empty for auto generated key', value=user.api_key)
            else
              input.form-control(type='text', name='api_key', value=user.api_key, readonly='true')
          .form-group
            label(for='role') Role
            if user.role === 'admin'
              select.form-control(name='role')
                option(value='', disabled, hidden) Select a role
                option(value='admin') Administrator
                option(value='manager') Manager
                option(value='viewer') Viewer
            else
              input.form-control(type='text', name='role', value=user.role, readonly='true')
          .btn-toolbar
            if user.role === 'admin' || user.role === 'manager'
              button#btnSave.btn.btn-primary(type='button') Save
            button#btnCancel.btn.btn-default(type='button') Cancel
            if user.role === 'admin'
              a.btn.btn-danger.pull-right(data-toggle='modal' href='#confuserdel-modal') Delete user
              button#btnNewUser.btn.btn-primary.pull-right(type='button') New user
          if user.role === 'admin'
            br
            br
            br
            legend Select an account
            table#table-allusers(
              data-toggle='table-allusers',
              data-toolbar='#toolbar',
              data-search='false',
              data-show-refresh='false',
              data-show-toggle='true',
              data-show-columns='false',
              data-show-export='true',
              data-detail-view='false',
              data-minimum-count-columns='2',
              data-show-pagination-switch='true',
              data-pagination='true',
              data-id-field='username',
              data-unique-id='username',
              data-page-list='[10, 25, 50, 100, ALL]',
              data-show-footer='false')
                thead
                  tr
                    th(data-field='username') Username
                    th(data-field='fullname') Full name
                    th(data-field='role') Role
          script usersData=!{JSON.stringify({users})};
          script
            include main/changedetails.js
