extends layout

block content
  include mainnavbar
  include modals/about
  .container-fluid.main-container-fluid
    .row-fluid.main-row-fluid
      .col-xs-12.col-md-6.col-md-offset-3
        if flash.error && flash.error.length > 0
          h3.text-center.alert.alert-danger(role='alert') #{flash.error}
        h4#table-manageusers-title Manage Users
        table#table-manageusers(
          data-toggle='table-manageusers',
          data-toolbar='#toolbar',
          data-search='false',
          data-show-refresh='false',
          data-show-toggle='true',
          data-show-columns='false',
          data-show-export='true',
          data-detail-view='false',
          data-minimum-count-columns='2',
          data-show-pagination-switch='true',
          data-pagination='true',
          data-id-field='username',
          data-unique-id='username',
          data-page-list='[10, 25, 50, 100, ALL]',
          data-show-footer='false')
            thead
              tr
                th(data-field='state', data-radio='true') state
                th(data-field='username') Username
                th(data-field='fullname') Full name
                th(data-field='role') Role
        script usersData=!{JSON.stringify({users})};
        script
          include main/manageusers.js
